.gallery-wrapper {
    position: relative;
    z-index: 0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.thumbnails {
  position: fixed;
    bottom: var(--padding-y);
    left: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 0 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    z-index: 10;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.thumbnails::-webkit-scrollbar {
    display: none;
}

.thumbnail img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    flex-shrink: 0;

    transform: scale(1);
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.thumbnail img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.thumbnail img.active {
    filter: grayscale(0%);
}

.first-thumb {
    margin-left: 50vw;
}